body {
	margin: 0px;
	padding: 0px;
}

#header {
	height: 45px;
	width: 100%;
	padding-top: 5px;
	background-color: #F6F6F6;
}

#header_tool {
	height: 40px;
	width: 40px;
	background-color: #56009C;
	margin: 5px;
	margin-top: 0px;
	float: left;
}

.header-txt {
	margin-left: 20px;
	float: left;
	height: 30px;
	width: 400px;
	border-width: 0px;
	margin-top: 5px;
	background-color: #F6F6F6;
	font-size: 20px;
	outline:none;
}
.head-tool-img {
	margin: 5px;
}

#left {
	width: 200px;
	height: 800px;
	background-color: #334411;
	float: left;
}

#right {
	width: 200px;
	height: 800px;
	background-color: #889933;
	float: right;
}